<mat-grid-list cols="{{this.qtyColumn}}" rowHeight="150px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="list-card col-md-8" (click)="addNewList('New list')">
      <mat-card-header>
        <mat-card-title>Add a new list</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="70" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let list of this.getOrderedLists()">
    <mat-card class="list-card col-md-8" routerLink="/list/{{list.id}}">
      <mat-card-header>
        <mat-card-title>
          <i *ngIf="list.isFav" class="material-icons">star</i>
          {{this.limitSize(list.title, getMaxTitleSize(list))}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="align-left">
        <ul>
          <li *ngFor="let row of this.generateSummary(list)" class="{{row.class}}">
            {{row.content}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
