.list-card {
  cursor: pointer;
}

mat-card {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

mat-card-content {
  height: calc(100% - 30px);
  overflow: hidden;
}


.align-left {
  text-align: left;
}

.summary-selected {
  text-decoration: line-through;
}
