.mat-form-field  {
  width:100%;
}

.flex {
  display: flex;
}

.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.fav_div i {
  font-size: 2em;
  color: #ffbf2a;
  cursor: pointer;
}

.material-icons.md-16 { font-size: 16px; }
.container-text-maticon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-text-maticon > .material-icons.margin-right-5 {
  margin-right: 5px;
}
.container-text-maticon > .material-icons.margin-left-5 {
  margin-left: 5px;
}


.red {
  color:red;
}

.strikethrough {
  position: relative;
}
.strikethrough:before, .strikethrough:after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
}
.strikethrough:before {
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.strikethrough:after {
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}
