.mat-form-field  {
  width:100%;
}

.fav_title_container {
  display: flex;
}

.fav_div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffbf2a;
}
.fav_div i {
  font-size: 2em;
}

.material-icons.md-16 { font-size: 16px; }
.container-text-maticon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-text-maticon > .material-icons.margin-right-5 {
  margin-right: 5px;
}
.container-text-maticon > .material-icons.margin-left-5 {
  margin-left: 5px;
}
